* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #F7EDE2;
  align-items: center;
  justify-content: center;
}

.side-options {
  position: relative;
  display: flex;
  float: right;
  margin: 25px;
  padding: 25px;
}
.side-options .resume {
  margin: 10px;
  text-decoration: none;
  color: #666;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
}
.side-options .resume:hover {
  color: #161919;
}

.top-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  padding: 25px;
  margin: 25px;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 30px;
  cursor: pointer;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: 0.5s;
}
.burger li {
  list-style: none;
  margin: 0 10px;
}
.burger li a {
  margin: 5px;
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  transition: 0.5s;
}
.burger li a:hover {
  color: #161919;
}

.content-burger,
.menu {
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
}

.content-burger {
  position: relative;
  float: right;
  background-color: #fff;
  padding: 25px;
  margin: 25px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.content-burger input {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
  left: 5;
}
.content-burger input:checked ~ .menu {
  width: 450px;
  opacity: 1;
}
.content-burger input:checked ~ span {
  background-color: #FF4D50;
  left: 30px;
}
.content-burger input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-600deg);
}
.content-burger input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(60deg);
}
.content-burger input:checked ~ span:nth-child(4) {
  transform: translateX(8);
}
.content-burger span {
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 1s;
}
.content-burger span:nth-child(2) {
  transform: translateY(-8px);
}
.content-burger span:nth-child(3) {
  transform: translateY(8px);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.menu li {
  list-style: none;
  margin: 0 10px;
}
.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  transition: 0.5s;
}
.menu li a:hover {
  color: #161919;
}

.typewriter {
  text-align: center;
  height: 90px;
}

.auto-type-item {
  justify-content: center;
  color: #333333;
  font-size: 60px;
}

.typed-cursor {
  position: relative;
  color: #06D6A0;
  font-size: 70px;
}

.central {
  display: block;
  margin-left: 5px;
  height: 90px;
}
.central .name {
  text-align: center;
  color: #707070;
  font-weight: lighter;
  font-size: 35px;
}

@media only screen and (width < 1024px) {
  .content-burger input:checked ~ .menu {
    flex-direction: column;
    width: 150px;
    opacity: 1;
  }
  .content-burger input:checked ~ span {
    background-color: #FF4D50;
    left: 5px;
  }
  .content-burger input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-600deg);
  }
  .content-burger input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(60deg);
  }
  .content-burger input:checked ~ span:nth-child(4) {
    transform: translateX(8);
  }
}
@media only screen and (width < 724px) {
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 50px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 100px;
    cursor: pointer;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.5s;
  }
  .burger li {
    list-style: none;
    margin: 0 10px;
  }
  .burger li a {
    margin: 5px;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
  }
  .burger li a:hover {
    color: #161919;
  }
}
@media only screen and (width < 370px) {
  .content-burger {
    margin: 15px;
    padding: 15px;
  }
  .content-burger input:checked ~ .menu {
    flex-direction: column;
    width: 50%;
    opacity: 1;
  }
  .content-burger input:checked ~ .menu li {
    padding: 5px 0;
  }
  .content-burger input:checked ~ .menu li a {
    font-size: 15px;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 50px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 100px;
    cursor: pointer;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.5s;
  }
  .burger li {
    list-style: none;
    margin: 0 10px;
  }
  .burger li a {
    margin: 5px;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
  }
  .burger li a:hover {
    color: #161919;
  }
}/*# sourceMappingURL=style.css.map */